/_Tests
/.idea
__pycache__
/Applications/IsolationForest/Lession2-data2.txt
/Applications/IsolationForest/sm-s05-1.lhco
/Applications/IsolationForest/s05-20.lhco
/Applications/IsolationForest/datamixed.txt
/Applications/IsolationForest/MixedResult.csv
/Applications/IsolationForest/datamixedntgc.txt
/Applications/IsolationForest/resultv0.csv
/Applications/IsolationForest/resultv3.csv
/Applications/IsolationForest/v0event.csv
/Applications/IsolationForest/v3event.csv
/Applications/IsolationForest/historyv0.csv
/Applications/IsolationForest/historyv0-1.csv
/Applications/IsolationForest/essdatav0.csv
/Applications/IsolationForest/essdatav3.csv
/Applications/IsolationForest/historyv0-2.csv
/Applications/IsolationForest/historyv3.csv
/Applications/IsolationForest/historyv3-1.csv
/Applications/IsolationForest/historyv3-2.csv
/Applications/IsolationForest/historyv3-3.csv
/Applications/IsolationForest/resultv0-2d.csv
/Applications/IsolationForest/v0event2d.csv
/Applications/IsolationForest/v0event3d.csv
/Applications/IsolationForest/historyv3-4.csv
/Applications/IsolationForest/historyv3-5.csv
/Applications/IsolationForest/resultv0-2d-0.csv
/Applications/IsolationForest/resultv0-2d-1.csv
/Applications/IsolationForest/resultv0-2d-2.csv
/Applications/IsolationForest/resultv0-2d-3.csv
/Applications/IsolationForest/resultv0-n0-1.csv
/Applications/IsolationForest/resultv0-n0-2.csv
/Applications/IsolationForest/resultv0-n0-3.csv
/Applications/IsolationForest/resultv0-n0-4.csv
/Applications/IsolationForest/resultv0-n0-5.csv
/Applications/IsolationForest/resultv0-n1.csv
/Applications/IsolationForest/resultv0-n2.csv
/Applications/IsolationForest/resultv0-n3.csv
/Applications/IsolationForest/resultv0-n4.csv
/Applications/IsolationForest/v0event-n0.csv
/Applications/IsolationForest/v0event-n1.csv
/Applications/IsolationForest/v0event-n2.csv
/Applications/IsolationForest/v0event-n3.csv
/Applications/IsolationForest/v0event-n4.csv
/Applications/IsolationForest/v3event-n0.csv
/Applications/IsolationForest/v3event-n1.csv
/Applications/IsolationForest/v3event-n2.csv
/Applications/IsolationForest/v3event-n3.csv
/Applications/IsolationForest/v3event-n4.csv
/Applications/IsolationForest/resultv3-n0.csv
/Applications/IsolationForest/resultv3-n0-1.csv
/Applications/IsolationForest/resultv3-n0-3.csv
/Applications/IsolationForest/resultv3-n1.csv
/Applications/IsolationForest/resultv3-n1-1.csv
/Applications/IsolationForest/resultv3-n1-3.csv
/Applications/IsolationForest/resultv3-n2.csv
/Applications/IsolationForest/resultv3-n2-1.csv
/Applications/IsolationForest/resultv3-n2-3.csv
/Applications/IsolationForest/resultv3-n3.csv
/Applications/IsolationForest/resultv3-n3-1.csv
/Applications/IsolationForest/resultv3-n3-3.csv
/Applications/IsolationForest/resultv3-n4.csv
/Applications/IsolationForest/resultv3-n4-1.csv
/Applications/IsolationForest/resultv3-n4-3.csv
/Applications/IsolationForest/a0.csv
/Applications/IsolationForest/a1.csv
/Applications/IsolationForest/a2.csv
/Applications/IsolationForest/a3.csv
/Applications/IsolationForest/a4.csv
/Applications/IsolationForest/sm-025-1.csv
_Output
